@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
}
.app_container {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.app {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: aliceblue;
    height: 100vh;
    padding: 15px;
    width: 950px;
    margin-top: 50px;
}

.list_component {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    border: 1px solid brown;
    padding: 20px;
    margin-right: 10px;
}

.list_item {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid burlywood;
    width: 580px;
    margin-bottom: 10px;
}

.item_navlink {
    text-decoration: none;
    color: black;
}
.item_navlink:hover {
    text-decoration: none;
    color: burlywood;
}

.list_item_text{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: 10px;
}

.list_item_buttons {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
}

.list_item_buttons button{
    align-self: center;
    height: 45px;
}

.rightbar_component {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid brown;
    padding: 10px;
}

.form_component {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid burlywood;
    padding: 15px;
    margin-bottom: 15px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 250px;
    border-radius: 1%;
}

.form input {
    width: 100%;
    height: 30px;
    border-radius: 5%;
    border: 1px solid burlywood;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box; 
}

.post_form_textarea {
    background: #fce9c0;
    border: 1px solid burlywood;
    padding: 10px;
    width: 100%;
    height: 100px; 
    box-sizing: border-box; 
    font-size: 14px;
    margin-bottom: 15px;
    resize: none;
    border-radius: 3%;
}

.post_text {
    background: #fce9c0;
    border: 1px solid burlywood;
    padding: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
    font-size: 14px;
    margin-bottom: 15px;
    resize: none;
    border-radius: 3%;
}

.form_buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form_buttons button{
    height: 30px;
    border: 1px solid blanchedalmond;
    border-radius: 5%;
    background-color: burlywood;
    margin-right: 15px;
    font-size: 16px;
    text-transform: uppercase;
}

.form_buttons button:hover{
    cursor: pointer;
    border: 1px solid brown;
}

.error {
    display:block;
    color: red;
    margin-top: -13px;
}

.login_register_switch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px; 
    width: 250px;
}

.login_register_switch button {
    height: 30px;
    margin-right: 15px;
    background-color: cornsilk;
    border: 1px solid burlywood;
}

.login_register_switch button:hover {
    height: 30px;
    margin-right: 10px;
    background-color: cornsilk;
    border: 1px solid brown;
    cursor: pointer;
}

.login_register_switch_user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pagination {
    list-style: none;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;
}

.pagination li {
    display: flex;
    border: 1px solid blanchedalmond;
    margin-left: 15px;
    background-color: cornsilk;
    color: black;
    font-weight: bolder;
}
.pagination li:last-child {
    margin-right: 60px;
}

.pagination li:hover {
    background-color:burlywood;
    cursor: pointer;
}

li.active {
    background-color:burlywood;
    border: 2px solid blanchedalmond;
}
.pagination li a {
    padding: 10px;
}

.navbar {
}

.toolbar {
    background-color: cornsilk;
}

.post {
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid blanchedalmond;
}

.post_buttons {
    margin-top: 15px;
}

.posts_filter {
    margin-bottom: 10px;
}

.new_item {
    color: green;
}

.visited_item {
    color:indigo;
}